@page
@model OPM.SFS.Web.Pages.Academia.DashboardModel
@{
	Layout = "_PILayout";
}
<center><h2>Hello @User.Identity.Name.Substring(0,@User.Identity.Name.IndexOf(" ")),</h2></center>
<h2 align="center">Welcome to the Principal Investigator portal!</h2>
