@page
@model OPM.SFS.Web.Pages.Academia.FAQsModel
@{
    Layout = "_SideMenuLayoutPI";
}

<div class="infopage participate">
    <h2><span id="ctl00_PlaceHolderMainContent_lblFAQType">Principal Investigator: </span> Frequently Asked Questions (FAQs)</h2>
    <div style="text-align: center">No FAQs available at this time.</div>
    <div class="usa-grid">
        <div class="usa-width-one-fourth"></div>
        <div class="usa-width-two-fourths">
            <ul class="usa-accordion-bordered">
            </ul>
        </div>
        <div class="usa-width-one-fourth"></div>
    </div>
</div>