@page
@model OPM.SFS.Web.Pages.Academia.ProspectiveInstitutionsModel
@{
    Layout = "_SideMenuLayoutPI";
}

<div class="infopage participate">
    <h2>Prospective Institutions</h2>
</div>

<div class="infopage">
    <p></p>
    <h2>Overview</h2>
    <p>
        The SFS program, offered by the National Science Foundation (NSF) and co-sponsored by the U.S. Office of Personnel Management (OPM),
        and Department of Homeland Security (DHS), includes scholarship and capacity-building components that attract high-caliber students
        from institutions designated by the National Security Agency (NSA) and DHS as Centers of Academic Excellence in Information Assurance
        Education (CAE/IAE) and selected by NSF through a competitive process.
    </p>

    <h3>Scholarship Track</h3>
    <p>
        Provides funding to universities to award support for 1-3 years to individual students in the general area of cybersecurity (undergraduate
        or graduate studies) Scholarship recipients are required to work after graduation for a federal, state, local or tribal government agency
        or approved SFS institution for a period equal to the length of scholarship. Institutions must show evidence of a "strong existing academic
        program in cybersecurity" [Center of Academic Excellence in Information Assurance Education/Cyber Defense (CAE IA/CD), in Cyber Operations
        or in Research (CAE-R) or equivalent].
    </p>

</div>

<div class="infopage">
    <p></p>
    <h2>How do I obtain CAE/IAE designation for my school?</h2>
    <p>
        NSA and DHS jointly sponsor the CAE for Cyber Defense Programs.  You can find information about the CAE programs here:
        <a href="https://www.caecommunity.org/about-us/what-cae-cybersecurity" target="_blank" rel="nofollow">https://www.caecommunity.org/about-us/what-cae-cybersecurity</a>. There you will find information about a program that
        was stood up that helps new applicants. Some information from the website is included below.
    </p>

    <h3>New Applicant Checklist</h3>
    <p>
        While not mandatory, applicants that wish to take advantage of application assistance may complete the
        <a href="https://www.caecommunity.org/about-us/national-cae-cybersecurity-program/applicant-checklist" target="_blank" rel="nofollow">New Applicant Checklist</a>. The checklist
        will guide the applicant through the program requirements and provide a self-assessment of readiness. Applicants that opt to receive support
        will have their checklist reviewed and will be referred to one of two assistance paths:
    </p>

    <h3>Program Development & Application Assistance</h3>
    <ul style="max-width: 53rem;">
        <li>
            Program Development - Applicants who are assessed to require more than one year to be ready for designation will be assigned to Program
            Development.  In this phase, the applicant will have access to workshops, seminars and an advisor to help in their preparation for
            designation.  Schools in this phase will also be invited to programs and events hosted by the CAE Community (caecommunity.org) and have
            access to other resources offered by the Program Office only for the CAE audience.
        </li>
        <li>
            Application Assistance - Applicants who are assessed to be within one year of readiness for designation will be assigned to Application
            Assistance.  In this phase, the applicant will work directly with a mentor to complete the application.
        </li>
        <li>
            Applicants that choose to opt out of Application Assistance must acknowledge that they do not wish to receive support via the New
            Applicant Checklist.
        </li>
    </ul>
    <p>Requirements and Resources for the program can be found here: <a href="https://public.cyber.mil/ncae-c/documents-library/" target="_blank" rel="nofollow">https://public.cyber.mil/ncae-c/documents-library/</a>.</p>
    <p>For additional questions, please contact: Email NCAE-C Program Management Office <a href="mailto:CAEPMO@nsa.gov">CAEPMO@nsa.gov</a>.</p>
    <p>
        Additional information about the CAE/IAE program and a list of certified schools is available at
        <a href="https://www.caecommunity.org/cae-map" target="_blank" rel="nofollow">https://www.caecommunity.org/cae-map</a>
    </p>

    <h2>How do I become a SFS participating Institution?</h2>
    <p>
        The process for a university to participate in the Cyber Corps®: Scholarship for Service (SFS) program is a competitive one.  They must be
        selected for participation after submitting a proposal in response to the SFS Program Solicitation the National Science Foundation publishes
        in October/November.  While several institutions apply each year, only a few are selected.  Information on how to apply and contact
        information for additional questions to become a participating university can be found at
        <a href="http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=504991" target="_blank" rel="nofollow">http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=504991</a>.
    </p>
    <p>You can also visit the <a href="http://www.nsf.gov/" target="_blank" rel="nofollow">National Science Foundation website</a> for additional information regarding grants that may be available.</p>

</div>

