@page
@model OPM.SFS.Web.Pages.Academia.RegistrationConfirmModel
@{
	Layout = "_SideMenuLayoutPI";
}

<div class="infopage participate">
	<h2>Principal Investigator Registration Confirmation</h2>
	<P>
		Your registration has been successfully transmitted. You should
		receive an email confirmation within two business days. Once you have received
		this confirmation, you will have access to those areas restricted to Principal
		Investigators.
	</P>
	<div style="text-align:center"><a href="/">Return to SFS Home</a></div>
</div>
