@page
@model OPM.SFS.Web.Pages.Academia.ResourcesModel
@{
    Layout = "_SideMenuLayoutPI";
}

<div id="main-content">
    <section class="participate">
        <div class="usa-grid">
            <div class="usa-width-one-whole">
                <h2>Academia Resources</h2>

                <p>
                    We have provided the following resources because they have information that may be of interest to our users.
                    The U.S. Office of Personnel Management (OPM) does not necessarily endorse the views expressed or the facts
                    presented on these sites. Further, OPM does not endorse any commercial products that may be advertised or
                    available on these sites. Upon selecting any of these links, a new window will be opened
                </p>
                <p>If you encounter an error or wish to add a link/document, please email  <a href="mailto:sfs@opm.gov">sfs@opm.gov</a>.</p>

                <h3>Program Related:</h3>
                <div style="text-align: left;"><p><a class="sfslinks" href="https://www.nsa.gov/resources/educators" target="_blank">Centers of Academic Excellence in Information Assurance Education</a><br>This link takes you to the accrediting organization for participating SFS institutions.</p><p><a class="sfslinks" href="https://www.nsf.gov/" target="_blank">National Science Foundation</a><br>This link takes you to NSF, the grant awarding agency.</p><p><a class="sfslinks" href="Documents/Federal Executive &amp; Non-Executive Agencies.pdf" target="_blank">Federal Executive &amp; Non-Executive Agencies</a><br>This link displays a list of approved Federal Executive and Non-Executive agencies with whom SFS participants may secure employment in order to meet internship and/or post-graduate commitments.</p></div>
            </div>
        </div>
    </section>
</div>
