@page
@model OPM.SFS.Web.Pages.Admin.RegisterPivConfirmModel
@{
	Layout = "_NoSideMenu";
}

<div class="grid-container-widescreen">
    <div class="grid-row">      
        <div class="grid-col-10">
             <h2 id="h2PageHeaderText" class="PageHeader">Smartcard Registration Confirmation</h2>
            <p>
                There was a problem completing the registration of your Smartcard. Please try again later.             
            </p>
        </div>
    </div>
 </div>