<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="SFS">
    <meta name="description" content="Start your cybersecurity career with the U.S. government">
    <meta property="og:description" content="Start your cybersecurity career with the U.S. government">
    <title>
        CyberCorps®: Scholarship for Service
    </title>
    <!-- Google Tag Manager -->
    <script asp-add-nonce>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; var n = d.querySelector('[nonce]');
            n && j.setAttribute('nonce', n.nonce || n.getAttribute('nonce')); f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MT6FRGS2');
        </script>
    <!-- End Google Tag Manager -->
    <link rel="stylesheet" href="/css/sfsbase.css" />
</head>


<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src=https://www.googletagmanager.com/ns.html?id =GTM-MT6FRGS2
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <partial name="_OPMTopBanner" />
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <partial name="_Header" />

    <div class="usa-overlay"></div>

    <div id="main-content-wrapper">   
        <partial name="_DefaultAlert" />
        @RenderBody()
    </div>

    <partial name="_Footer" />
    <script src="/js/sfsbasebundle.js"></script>

</body>
</html>