<div id="sfs-alerts">
    <div class="usa-alert sfs-alerts" role="alert" data-object="alert">
        <div class="usa-alert__body">
            <p class="usa-alert__text">           
                <span class="font-body-lg">This site is for testing of future enhancements and features. The production version is located at <a class="sfs-no-visit" style="color:white" href="https://sfs.opm.gov">https://sfs.opm.gov</a></span>
            </p>
        </div>
    </div>
</div>