<div id="dupStudentModal" class="sfs-modal modal">
    <h3>This is a duplicate student.</h3>
    <h4>Do you still want to add the student?</h4>
    <button id="btn-add-funding" style="margin-top:1em" class="usa-button usa-button-primary">Add Student</button>
    <a id="lnkGoback" href="javascript:void(0);">Go back</a>
</div>