<footer class="usa-footer usa-footer-big" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
        <a href="#">Return to top</a>
    </div>
    <div class="usa-footer-primary-section">
         <div class="grid-container-widescreen">
            <div class="grid-row">
                <nav id="ctl00_Footer1_NotLoginFooter" class="usa-footer-nav grid-col">
                    <ul class="usa-unstyled-list usa-width-one-sixth usa-footer-primary-content">
                        <li class="usa-footer-primary-link aboutus">
                            <h4>About Us</h4>
                        </li>
                        <li class="usa-footer-secondary-link"><a href="/About/History">History/Overview</a></li>
                        <li class="usa-footer-secondary-link"><a href="/About/Resources">Resources</a></li>
                        <li class="usa-footer-secondary-link"><a href="/About/MeetTheTeam">Meet the Team</a></li>
                        <li class="usa-footer-secondary-link"><a href="/About/Contact">Contact Us</a></li>
                    </ul>
                    <ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
                        <li class="usa-footer-primary-link becomestudent">
                            <h4>Become an SFS Student</h4>
                        </li>
                        <li class="usa-footer-secondary-link"><a href="/Student/Overview">Overview</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Help/Account">SFS Help Center</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Academia/Institutions">Participating Institutions</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Student/Contacts">Contacts</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Student/Resources">Resources</a></li>
                    </ul>
                    <ul class="usa-unstyled-list usa-width-one-fourth usa-footer-primary-content">
                        <li class="usa-footer-primary-link currentstudents">
                            <h4>Current SFS Students</h4>
                        </li>
                        <li class="usa-footer-secondary-link"><a href="/Student/Login">Login</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Student/Registration">Registration</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Help/Account">SFS Help Center</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Student/Contacts">Contacts</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Student/Resources">Resources</a></li>
                    </ul>
                    <ul class="usa-unstyled-list usa-width-one-sixth usa-footer-primary-content">
                        <li class="usa-footer-primary-link academia">
                            <h4>Academia</h4>
                        </li>
                        <li class="usa-footer-secondary-link"><a href="/Academia/Login">Principal Investigator Login</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Academia/Registration">Registration</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Help/Account">SFS Help Center</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Academia/ProspectiveInstitutions">Prospective Institutions</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Academia/Resources">Resources</a></li>
                    </ul>
                    <ul class="usa-unstyled-list usa-width-one-sixth usa-footer-primary-content">
                        <li class="usa-footer-primary-link agencies">
                            <h4>Agencies</h4>
                        </li>
                        <li class="usa-footer-secondary-link"><a href="/Agency/Login">Login</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Agency/Registration">Registration</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Help/Account">SFS Help Center</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Agency/Information">Recruiting SFS Students</a></li>
                        <li class="usa-footer-secondary-link"><a href="/Agency/Resources">Resources</a></li>
                    </ul>
                </nav>
            </div>
          </div>
    </div>
    <div class="use-footer-primary-subsection">
         <div class="grid-container-widescreen">
            <div class="grid-row">
                <div class="terms-links grid-col">
                    <a href="/Terms" target="_blank" rel="noopener noreferer">Terms</a>
                </div>
                <div class="terms-links grid-col">
                    <a href="/Privacy" target="_blank" rel="noopener noreferer">Privacy Policy</a>
                </div>
                <div class="terms-links grid-col">
                    <a href="/RulesofBehavior" target="_blank" rel="noopener noreferer">Rules of Behavior </a>
                </div>
            </div>
          </div>
    </div>
    <div class="usa-footer-secondary_section usa-footer-big-secondary-section">
         <div class="grid-container-widescreen">
            <div class="grid-row">
                <div class="usa-footer-logo grid-col">
                    <a href="/">
                        <img src="~/img/sfs-logo-white.svg" class="footer-logo" alt="SFS Logo">
                    </a>
                </div>
                <div class="usa-footer-contact-links grid-col">
                    <a href="https://www.nsf.gov/">
                        <img src="~/img/nsf-logo.svg" class="footer-agency-logo" alt="NSF Logo">
                    </a>
                    <a href="https://www.opm.gov/">
                        <img src="~/img/opm-logo.svg" class="footer-agency-logo" alt="OPM Logo">
                    </a>
                    <a href="https://www.dhs.gov/topic/cybersecurity ">
                        <img src="~/img/CISA Seal Color.png" class="footer-agency-logo" alt="DHS Logo">
                    </a>
                </div>
            </div>
          </div>
    </div>
</footer>