<header class="usa-header usa-header-extended" role="banner">
    <div>
        <div class="usa-navbar">
            <div class="usa-logo">
                <a href="/">
                    <img src="~/img/sfs-logo.svg" class="logo" alt="SFS Logo" />
                </a>
            </div>
            <button class="usa-menu-btn">Menu</button>
        </div>
        <nav id="MenuWrapper" role="navigation" class="usa-nav">
            <div class="usa-nav-inner">
                <button class="usa-nav-close">
                    <img src="~/img/close.svg" alt="close" />
                </button>
                <ul id="LoggedoutMenu" runat="server" class="usa-nav-primary usa-accordion">
                    <li>
                        <button class="usa-accordion-button usa-nav-link" aria-controls="extended-nav-section-one" aria-expanded="false">
                            <span>About Us</span>
                        </button>
                        <ul id="extended-nav-section-one" class="usa-nav-submenu" aria-hidden="true">
                            <li><a href="/About/History">History/Overview</a></li>
                            <li><a href="/About/Resources">Resources</a></li>
                            <li><a href="/About/MeetTheTeam">Meet the Team</a></li>
                            <li><a href="/About/Contact">Contact Us</a></li>
                        </ul>
                    </li>
                    <li>
                        <button class="usa-accordion-button usa-nav-link" aria-controls="extended-nav-section-two" aria-expanded="false">
                            <span>Become an SFS Student</span>
                        </button>
                        <ul id="extended-nav-section-two" class="usa-nav-submenu" aria-hidden="true">
                            <li><a href="/Student/Overview">Overview</a></li>
                            <li><a href="/Help/Account">SFS Help Center</a></li>
                            <li><a href="/Academia/Institutions">Participating Institutions</a></li>
                            <li><a href="/Student/Contacts">Contacts</a></li>
                            <li><a href="/Student/Resources">Resources</a></li>
                        </ul>
                    </li>
                    <li>
                        <button class="usa-accordion-button usa-nav-link" aria-controls="extended-nav-section-three" aria-expanded="false">
                            <span>Current SFS Students</span>
                        </button>
                        <ul id="extended-nav-section-three" class="usa-nav-submenu" aria-hidden="true">
                            <li><a href="/Student/Login">Login</a></li>
                            <li><a href="/Student/Registration">Registration</a></li>
                            <li><a href="/Help/Account">SFS Help Center</a></li>
                            <li><a href="/Student/Contacts">Contacts</a></li>
                            <li><a href="/Student/Resources">Resources</a></li>
                        </ul>
                    </li>
                    <li>
                        <button class="usa-accordion-button usa-nav-link" aria-controls="extended-nav-section-four" aria-expanded="false">
                            <span>Academia</span>
                        </button>
                        <ul id="extended-nav-section-four" class="usa-nav-submenu" aria-hidden="true">
                            <li><a href="/Academia/Login">Principal Investigator Login</a></li>
                            <li><a href="/Academia/Registration">Registration</a></li>
                            <li><a href="/Help/Account">SFS Help Center</a></li>
                            <li><a href="/Academia/ProspectiveInstitutions">Prospective Institutions</a></li>
                            <li><a href="/Academia/Resources">Resources</a></li>
                        </ul>
                    </li>
                    <li>
                        <button class="usa-accordion-button usa-nav-link" aria-controls="extended-nav-section-five" aria-expanded="false">
                            <span>Agencies</span>
                        </button>
                        <ul id="extended-nav-section-five" class="usa-nav-submenu" aria-hidden="true">
                            <li><a href="/Agency/Login">Login</a></li>
                            <li><a href="/Agency/Registration">Registration</a></li>
                            <li><a href="/Help/Account">SFS Help Center</a></li>
                            <li><a href="/Agency/Information">Recruiting SFS Students</a></li>
                            <li><a href="/Agency/Resources">Resources</a></li>
                        </ul>
                    </li>
                    <li>
                        <button class="usa-accordion-button usa-nav-link" aria-controls="extended-nav-section-six" aria-expanded="false">
                            <span>Administrators</span>
                        </button>
                         <ul id="extended-nav-section-six" class="usa-nav-submenu" aria-hidden="true">
                            <li><a href="/Admin/Login">Login</a></li>
                        </ul>
                    </li>
                </ul>            
            </div>
        </nav>
    </div>
</header>