<div class="official-website">
    <div class="grid-container-widescreen">
        <div class="grid-row grid-gap">
            <div class="grid-col">
                <a href="http://www.opm.gov">
                    <img src="~/img/OPM-header.png" alt="OPM Seal">
                    <span>Official Website of the U.S. Office of Personnel Management</span>
                </a>
            </div>
            <div class="grid-col" style="text-align: right;">
                <span style="font-size: 11px; font-style: italic; display: inline-block; line-height: 14px; text-align: right;">
                    OMB # 3206-0246
                    <br>
                    Expires: 11/4/2024
                </span>
            </div>
        </div>
    </div>
</div>