@page
@model OPM.SFS.Web.Pages.AccessDeniedModel
@{
	Layout = "_BasicLayout";
}

<div class="grid-container-widescreen">
	<div class="grid-row">
		<div class="grid-col">
			<div style="text-align:center">
				<h1>A System Error Has Occurred. </h1>
				<p id="pError" runat="server">The system has encountered a problem. Please contact the System Administrator at <a href="mailto:sfs@opm.gov">sfs@opm.gov</a> to report the problem.</p>
			</div>
		</div>
	</div>
</div>