@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_BasicLayout";
}

    <div id="main-content">
        <section class="usa-hero">
             <div class="grid-container-widescreen">
                <div class="grid-row">
                    <div class="grid-col">
                        <p>
                            Designed to
                            <span class="usa-serif">INCREASE AND STRENGTHEN</span>
                            the cadre of federal information assurance professionals that protect the government's critical information infrastructure.
                        </p>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col">
                        <a class="no-underline" href="/Student/Information">
                            <span class="hero-students">
                                <span class="hero-gradient usa-serif">Students</span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-col">
                        <a class="no-underline" href="/Academia/ProspectiveInstitutions">
                            <span class="hero-investigators">
                                <span class="hero-gradient usa-serif">Academia</span>
                            </span>
                        </a>
                    </div>
                    <div class="grid-col">
                        <a class="no-underline" href="/Agency/Information">
                            <span class="hero-officials">
                                <span class="hero-gradient usa-serif">Agencies</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="usa-section description">
            <div class="grid-container-widescreen">
                    <div class="grid-row">
                        <div class="grid-col">
                            <h3>Start your cybersecurity career with the U.S. government</h3>
                            <p class="description">
                                Scholarship For Service (SFS) is a unique program designed to recruit and train the next generation of information
                                technology professionals, industrial control system security professionals, and security managers to meet the needs of the cybersecurity
                                mission for Federal, State, local, and tribal governments. This program provides scholarships for up to 3 years of support for cybersecurity
                                undergraduate and graduate (MS or PhD) education. The scholarships are funded through grants awarded by the National Science Foundation.
                                In return for their scholarships, recipients must agree to work after graduation for the U.S. Government, in a position related to
                                cybersecurity, for a period equal to the length of the scholarship.
                            </p>
                        </div>
                    </div>
                </div>
        </section>
    </div>


   
