@page
@model OPM.SFS.Web.Pages.LogoutModel
@{
	 Layout = "_BasicLayout";
}
  <div class="grid-container-widescreen">
	<div class="usa-alert usa-alert-success">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">You are now signed out.</h3>
        <p class="usa-alert-text">
          Thanks for using SFS.
        </p>
      </div>
    </div>
  </div>