@page
@model OPM.SFS.Web.Pages.Student.OverviewModel
@{
    Layout = "_SideMenuLayoutStudent";
}
<div class="infopage participate">
    <h2>Overview</h2>
    <p>
        The SFS program provides funds to colleges and universities for student scholarships in support of education in areas relevant to cybersecurity. In return for their scholarships, recipients must agree to work after graduation for the Federal Government or, subject to approval of the NSF program office, for a State, Local, Tribal, or Territorial Government; or a Federally Funded Research and Development Center, in a position related to cybersecurity for a period equal to the length of the scholarship.
    </p>
    <p>
        A scholarship may be awarded for up to three years.
        To be eligible for consideration for an SFS scholarship, a student must be a citizen or lawful permanent resident of the United States and be a full-time student pursuing a bachelor’s or master’s degree in a coherent formal program that is focused on cybersecurity at an awardee institution, or research-based doctoral student.
    </p>
    <p>Each of the participating universities has their own application/selection process. If you are interested in applying for the scholarship, you should contact them directly for application/selection procedures. The list of participating institutions along with contact information for each may be found at <a href="/Academia/Institutions">Participating Institutions.</a></p>
    <p>For more information on the SFS program and participation requirements, please view frequently asked questions at <a href="/Student/FAQs">Program Guidance(FAQ)</a></p>
</div>