@page
@model OPM.SFS.Web.Pages.Student.PrivacyActModel
@{
    Layout = "_SideMenuLayoutStudent";
}


 <h3>PRIVACY ACT STATEMENT</h3>

			<p>The Office of Personnel Management is authorized to rate 
				applicants for Federal jobs under sections 1302, 3301, and 3304 of title 5, 
				United States Code. Section 1104 of title 5 allows the Office of Personnel 
				Management to authorize other Federal Agencies to rate applicants for Federal 
				jobs. We need the information you provide on this website to see how well your 
				education and work skills qualify you for a Federal job. We also need 
				information on matters such as citizenship and military service to see whether 
				you are affected by laws we must follow in deciding who may be employed by the 
				Federal Government.</p>

    <p>Public Law 104-134 (April 26, 1996) requires that any person 
				doing business with the Federal government must furnish a Social Security 
				Number or tax identification number. This is an amendment to Title 31, Section 
				7701. We must have your Social Security Number (SSN) to identify your records 
				because other people may have the same name and birth date. The Office of 
				Personnel Management may also use your SSN to make requests for information 
				about you from employers, schools, banks, and others who know you, but only as 
				allowed by law or Presidential directive. The information we collect by using 
				your SSN will be used for employment purposes and also for studies and 
				statistics that will not identify you.</p>

    <p>Information we have about you may also be given to Federal, 
				State, and local agencies for checking on law violations or other lawful 
				purposes. We may send your name and address to State and local Government 
				agencies, Congressional and other public offices, and public international 
				organizations, if they request names of people to consider for employment. We 
				may also notify your school placement office if you are selected for a Federal 
				job.</p>


    <p>Giving us your SSN or any of the other information is voluntary. 
				However, we cannot process your application, which is the first step toward 
				getting a job, if you do not give us the information we request.</p>

    <h3>PUBLIC BURDEN STATEMENT</h3>
		    
		    <p>We estimate the public reporting burden for this collection will 
				be approximately 45 minutes to 1 hour for completing this application, 
				including time for reviewing instructions, gathering data, and completing and 
				reviewing the application. Send comments regarding the burden statement or any 
				other aspect of the collection of information, including suggestions for 
				reducing this burden to: U.S. Office of Personnel Management, OPM Forms Officer 
				(3206-0246), Washington, DC 20415-7900. The OMB number, 3206-0246, is currently 
				valid. OPM may not collect this information, and you are not required to 
				respond, unless this number is displayed.</p>
