@page
@model OPM.SFS.Web.Pages.Student.RegistrationConfirmModel
@{
    Layout = "_SideMenuLayoutStudent";
}
<div class="infopage participate">
	<h2>Student Registration Confirmation</h2>
	<P>
		Your registration has been successfully transmitted. You should receive an
email confirmation within two business days, assigning you a temporary password.  Once you have received this confirmation, you 
will have access to those pages restricted to Students.
	</P>
	<div style="text-align:center"><a href="/">Return to SFS Home</a></div>
</div>
