@page
@model OPM.SFS.Web.Pages.Student.ResourcesModel
@{
    Layout = "_SideMenuLayoutStudent";
}

<div id="main-content">
    <section class="infopage participate">
        <div class="usa-grid">
            <div class="usa-width-one-whole">
                <h2>SFS Resources</h2>

                <p>We have provided the following resources because they have information that may be of interest to our users.</p>

                <h3>Job Opportunities:</h3>
                <p>A critical part of identifying the cybersecurity workforce was defining cybersecurity for consistency throughout the Federal Government. The National Initiative for Cybersecurity Education National Cybersecurity Workforce Framework defines cybersecurity work as:</p><p>
                    Strategy, policy, and standards regarding the security of and operations in cyberspace, and encompass[ing] the full range of threat reduction, vulnerability reduction, deterrence, international engagement, incident response, resiliency, and recovery policies and activities, including computer network operations, information assurance, law enforcement, diplomacy, military, and intelligence missions as they relate to the security and stability of the global information and communications infrastructure.
                </p>

                <span style="text-align: left;">
                    <p>
                        <a href="https://intern.usajobs.gov/" target="_blank">Federal Internship Portal</a>
                            <br />This link displays internship opportunities found within the Federal Government .
                    </p>
                    <p><a class="sfslinks" href="https://www.usajobs.gov/Search/Results?hp=student&amp;k=Information%20Security&amp;p=1" target="_blank">Information Security Opportunities</a><br></p><p><a class="sfslinks" href="https://www.usajobs.gov/Search/Results?k=Cybersecurity&amp;p=1" target="_blank">Cybersecurity Opportunities</a><br></p><p><a class="sfslinks" href="https://www.usajobs.gov/Search/Results?k=Information%20Assurance&amp;p=1" target="_blank">Information Assurance Opportunities</a><br></p><p><a class="sfslinks" href="https://www.cybercareers.gov/job-seeker/" target="_blank">Federal Cybersecurity Job Opportunities</a><br>This link displays featured Cybersecurity job opportunities within the Federal Government.</p>
                <p><a href="https://www.intelligencecareers.gov/" target="_blank">Intelligence Careers</a><br/>Learn more about federal government career opportunities and job openings in the U.S. Intelligence Community.</p>
                </span>

                <h3>Program Related:</h3>
                <div style="text-align: left;">
                    <p><a class="sfslinks" href="http://www.nsfgrfp.org/" target="_blank">National Science Foundation Graduate Research Fellowship Program</a><br>This link takes you to NSF's Graduate Research Fellowship Program.</p><p><a class="sfslinks" href="https://niccs.us-cert.gov/" target="_blank">National Initiative for Cybersecurity Careers and Studies</a><br>This link takes you to the National Initiative for Cybersecurity Careers and Studies website.</p><p><a class="sfslinks" href="https://www.nist.gov/itl/applied-cybersecurity/nice" target="_blank">National Initiative for Cybersecurity Education</a><br>This link takes you to the National Initiative for Cybersecurity Education website.</p><p><a class="sfslinks" href="https://www.opm.gov/" target="_blank">U.S. Office of Personnel Management</a><br>This link takes you to OPM's website.</p><p>
                        <a class="sfslinks" href="https://www.nist.gov/nice-tutorials" target="_blank">The NICE Tutorials Link</a><br> The NICE Tutorials are a series of instructional webinars
                        designed to provide important information on a variety of cybersecurity education and workforce development-related
                        topics. Here you can obtain Resume Writing instruction, review interviewing techniques, and more!
                        The National Initiative for Cybersecurity Education (NICE), led by the National Institute of Standards and
                        Technology (NIST) in the U.S. Department of Commerce, is a partnership between government, academia, and the
                        private sector focused on cybersecurity education, training, and workforce development.
                    </p><p><a class="sfslinks" href="https://www.usa.gov/federal-agencies/a" target="_blank">A-Z Index of U.S. Government Departments and Agencies</a><br>This link displays a list of approved Federal agencies with whom SFS Participants may secure employment in order to meet internship and/or post-graduation commitments.</p><p><a class="sfslinks" href="/docs/Federal Executive &amp; Non-Executive Agencies.pdf" target="_blank">Federal Executive &amp; Non-Executive Agencies</a><br>This link displays a list of approved Federal Executive and Non-Executive agencies with whom SFS participants may secure employment in order to meet internship and/or post-graduate commitments.</p><p><a class="sfslinks" href="https://www.usajobs.gov/Help/working-in-government/benefits/" target="_blank">Federal Government Benefits</a><br>This link describes Federal Government benefits.</p><p><a class="sfslinks" href="https://www.opm.gov/FAQS/topic/employment/index.aspx?cid=5d9058d6-78fb-42a2-9d2a-9d14c22982f0" target="_blank">FAQ</a><br>This link displays frequently asked questions for Job Seekers</p><p><a class="sfslinks" href="https://www.usajobs.gov/Help/faq/application/documents/resume/what-to-include/" target="_blank">Federal Resume Writing Tips</a><br>This link displays tips on writing a federal resume.</p><p><a class="sfslinks" href="https://www.usajobs.gov/Help/working-in-government/unique-hiring-paths/students/" target="_blank">Pathways Programs</a><br>This link displays pathways and other federal student programs</p><p><a class="sfslinks" href="https://nbib.opm.gov/faqs/" target="_blank">Background Investigation Process FAQ</a><br>This link displays frequently asked questions on the background investigation process.</p><p><a class="sfslinks" href="https://www.dhs.gov/stopthinkconnect" target="_blank">Stop Think Connect Campaign</a><br>This link displays information on the Department of Homeland Security stop think connect campaign.</p>
                </div>
                <hr>
                <p>If you encounter an error or wish to add a link/document, please email  <a href="mailto:sfs@opm.gov">sfs@opm.gov</a>.</p>
            </div>
        </div>
    </section>
</div>