@page
@model OPM.SFS.Web.Pages.Student.ResumeInstructionsModel
@{
    Layout = "_SideMenuLayoutStudent";
}

<h2>Students: Resum&eacute; Instructions and Tips</h2>
    <a href="#Instructions"><b>Instructions</b></a>&nbsp;|&nbsp;
	<a href="#Tips"><b>Tips&nbsp;for&nbsp;Creating&nbsp;Good&nbsp;Resum&eacute;s</b></a><br /><br />

<a name="Instructions"><b>INSTRUCTIONS</b></a>
 <ul>
            <li><p>Type information into each block that you want to appear on your resume.  If you do not enter
                text in these areas, these headings will not appear on your resume.  You only have to complete the 
                required items to save your resume.  You do not have to complete the resume in one sitting.  As long 
                as you complete the required items (marked with an asterisk), you will be able to save your resume and
                come back to make changes and additions at a later time.</p></li>
               
            <li><p>Describe your experience and skills completely but concisely.  To see how your completed resume will look,
                click on <b>View</b> at the bottom of the page.  You should <b>View</b> your resume to ensure that it meets
                space limitations.</p></li>
                
            <li><p>Use the &quot;copy&quot; and &quot;paste&quot; commands if you wish to import information from another document into the text boxes.</p></li>

            <li><p>Hit the tab key to advance to the next single line entry block.  Use your mouse to enter and exit multi-line text blocks.</p></li>

            <li><p>To print a copy of your resume, use the &quot;Print&quot; option of your web browser, while viewing your resume in a separate
                window.</p></li>
                
            <li><p>The resume you create can also be saved as a text file on your computer or disk.  When you have finished entering your 
                resume online, select the <b>View</b> button at the bottom of the page, then select &quot;Save as&quot; (under the File menu of your
                browser), enter a file name, change the &quot;Save as Type&quot; field to &quot;.txt&quot; and select the location for the saved
                file.  Select the <b>Save</b> button.</p></li>
        </ul>

    <a name="Tips"><b>TIPS FOR CREATING GOOD RESUM&Eacute;S</b></a><br />
        <ul>
        <li><p>Describe your experience with concrete words rather than vague descriptions.  For example, it
            is better to use &quot;managed a team of software engineers&quot; than &quot;responsible for managing, training....&quot;</p></li>
            
        <li><p>Use words and phrases that define the level and scope of your experience and skills; i.e., write
            complex technical documents; prepare policy statements; prepare routine correspondence; speak before
            groups of 100 or more people; manage multi-million dollar projects; work with group to build consensus; etc.</p></li>
            
        <li><p>Use modifiers to define the frequently at which you perform tasks; i.e., occasionally, regularly, once or twice a
            year, monthly, weekly, daily, etc.</p></li>
            
        <li><p>Use jargon and acronyms specific to your industry, but spell out for readers unfamiliar with the terms. </p></li>
                
        <li><p>Use specifics when describing your work experience or skills, such as the names of software you use, i.e.,
            <i>Microsoft Word</i> or <i>Lotus 1-2-3</i>.</p></li>
            
        <li><p>Include enough information to adequately describe your experience, skills and abilities.</p></li>

        <li><p>Take advantage of the opportunity to highlight job-related training, skills, certificates, licenses, honors, awards,
            professional affiliations, leadership activities, etc.</p></li>
            
        <li>Be truthful.</li>
        </ul>

