@page
@model OPM.SFS.Web.Pages.Help.AccountModel
@{
	Layout = "_BasicLayout";
}

<div class="grid-container-widescreen">
	<h1 style="color:#046b99">SFS Help Center</h1>
	<h2>What is login.gov?</h2>
	<p>
		login.gov is a service that offers secure and private online access to government programs, such as federal benefits, services and applications. With a login.gov account, you can sign into multiple government websites with the same email address and password.
	</p>

	

	<h2>Why is SFS using login.gov?</h2>
	<p>
		login.gov uses two-factor authentication, and stronger passwords, that meet new National Institute of Standards of Technology requirements for secure validation and verification. By using login.gov, you’ll get an extra layer of security to help protect your SFS profile against password compromises.
	</p>
	

	<h2>What will happen to my SFS profile?</h2>
	<p>
		Nothing will happen to the information stored in your SFS profile. Once you set up a login.gov account, we’ll link it back to your SFS profile. The only difference is you’ll use your login.gov email address, password and the one-time security code to sign into SFS.
	</p>

	<h2>What do I need to do?</h2>	
	<p>
		You need to create a login.gov account to sign into SFS and access your profile information. Your old SFS username and password won’t work anymore. 
	</p>
	<p>
		You need to:
		<ol>
			<li>
				Create a login.gov account—you only need to do this once.
			</li>
			<li>
				Enter an email address - use the same email address you use for SFS (your primary or alternate email address), if you have an existing account with us.
			</li>
			<li>
				Create a new password.
			</li>
			<li>
				Select your first method of authentication—having another way to sign in keeps your account more secure than using only a password. You can choose between text messages, phone calls, an authentication application, a security key, or backup codes. Government employees can also use their PIV card or CAC.
			</li>
			<li>
				Select a backup method of authentication—you need to select a backup method, in case you don’t have access to your first choice (for example you don’t have access to your phone).
			</li>
		</ol>
	</p>
	<p>
		Once you create a login.gov account, you’ll come back to SFS to link to your existing SFS account. You only need to create your account and link it once. Get step by step instructions on creating an account at login.gov. 
		You will receive an email confirmation to complete the linking process. The email is time sensitive and must be completed within 30 minutes of receipt. 
	</p>
	<h2>Do I have to create a login.gov account every time I want to sign into SFS?</h2>
	<p>
		No. You only need to create a login.gov account and link it to your SFS account once. Once that’s done, you use the same login.gov email address and password, plus one of the two-factor authentication methods you set up, every time you sign into SFS.
	</p>

	<h2>What if I already have a login.gov account?</h2>	
	<p>
		If you already have a login.gov account, you don’t need to create a second one. Ensure that the email address used in your login.gov account matches your SFS profile. 
		You can make changes to your account at login.gov. <a href="https://login.gov/help/" target="_blank">Read more about how to manage your login.gov account</a>
	</p>


	
</div>
