@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_BasicLayout";
}

<div class="usa-grid">
    <div class="usa-width-three-fourths">
    <p>    
        <br />
    The SFS website is an official U.S. Government System for authorized use only. Unauthorized use of this system or the information on this system could result in criminal prosecution. Signing into this website indicates you have read and accepted the Full Terms and Conditions of Use and you consent to security testing and monitoring.
    </p>
    <p>
      <b>Full Terms and Conditions of Use</b><br />
    This U.S. Government System is to be used by authorized users only. Information from this system resides on computer systems funded by the government.
    </p>
    <p>
        The data and documents on this system include Federal records that contain sensitive information protected by various Federal statutes, including the Privacy Act, 5 U.S.C. § 552a.
    </p>
    <p>
        All access or use of this system constitutes user understanding and acceptance of these terms and constitutes unconditional consent to review, monitoring, recording and action by all authorized government and law enforcement personnel.  While using this system, your use may be monitored, recorded, and subject to audit. 
    </p>
    <p>
        Unauthorized user attempts or acts to (1) access, upload, change, delete, or deface information on this system, (2) modify this system, (3) deny access to this system, (4) accrue resources for unauthorized use, or (5) otherwise misuse this system are strictly prohibited. Such attempts or acts are subject to action that may result in criminal, civil, or administrative penalties.
    </p>
    <p>
        Welcome to the Administrative section of the SFS Program website. Please click the Smartcard login button to log on to the website. Click the Unable to log in using your Smartcard link if you are experiencing an issue logging in with your smartcard. If you encounter an error, please send an email to sfs@opm.gov.
    </p>
        <br />
    </div>
    <div class="usa-width-one-fourth">
        <br />
        <button class="usa-button-big">OPM Login</button>
    </div>
</div>


