@page
@model OPM.SFS.Web.Pages.About.ContactModel
@{
    ViewData["Title"] = "Contact Us";
    Layout = "_NoSideMenu";
}

<div class="usa-grid-full">
<div id="main-content">
    <div class="participate">
        <h2>SFS Program Office</h2>

        <p>
            Have questions or comments?
        </p>
        <h3>Address:</h3>
        <address>
            Scholarship For Service Program Office<br>
            200 Granby Street, Suite 500<br>
            Norfolk, VA 23510-1886
        </address>
        <h3>Phone:</h3>

        <p>
            SFS Program Office:<br>
            <a href="tel:816-541-8103">Tel: 816-541-8103</a>
        </p>
        <h3>Email:</h3>
        <p>
            Send email regarding SFS Program information and technical problems to:<br>
            <a href="mailto:sfs@opm.gov">sfs@opm.gov</a>
        </p>
    </div>
</div>
</div>