@page
@model OPM.SFS.Web.Pages.About.MeetTheTeamModel
@{
    ViewData["Title"] = "Meet the team";
    Layout = "_BasicLayout";
}

<div class="usa-overlay"></div>

<div id="main-content">

    <section class="usa-section participate">
        <div class="usa-grid">
            <div class="usa-width-one-whole">
                <h2 class="usa-serif">Meet the Team</h2>

                <div class="photo-background">
                    <img src="~/img/kathy.png">
                    <h1>Kathy Roberson</h1>
                    <h4>Strategic Staffing Solutions Manager, SFS Program Manager</h4>
                </div>
                <p>Kathy began her Federal career with OPM in 1987. During her 30+ year history with OPM, Kathy has worked on and managed several multi-million dollar projects in Staff Acquisition and Recruitment and Branding, conducted training, chaired structured interview panels, and served as Lead HR Consultant for one of OPM's Staff Acquisition Branches. She's currently the Strategic Staffing Lead and the SFS Program Manager.</p>

                <div class="photo-background">
                    <img src="~/img/stephanie.png" />
                    <h1>Stephanie Travis</h1>
                    <h4>SFS Program Staff Member</h4>
                </div>

                <p>Stephanie joined OPM on the SFS Program Office Team in 2016. She possess a bachelor’s degree in Political Science with a focus on pre-law and a Master’s degree in Public Administration with a focus on Human Resources Management. She began her Federal career with the Department of Navy, Office of Civilian Human Resources (OCHR) in 2010 as a Human Resources Specialist (Intern) performing recruiting and staffing work. In her personal time, she loves traveling and spending time with her family.</p>

                <div class="photo-background">
                    <img src="~/img/sandra.png" />
                    <h1>Sandra Cyphers</h1>
                    <h4>SFS Program Staff</h4>
                </div>
                <p>Sandra became a member of the SFS Program Office Team in 2010 and served until 2013. She accepted a position with the Department of Navy's Office of Civilian Human Resources and Fleet Forces Command where she worked as a Human Resources Specialist and as Project Manager on multiple projects in the Staffing and Recruitment Department. Sandra returned to OPM in 2018 and is excited to re-join the SFS Program Office Team.</p>

                <h3>What We Do</h3>
                <ul>
                    <li>Process students into the program</li>
                    <li>Track the progress of student participants from entry into program until eight years following completion of employment commitment</li>
                    <li>Provide statistical reports to the National Science Foundation (NSF)</li>
                    <li>Assist NSF in preparing responses to Congressional inquiries on the SFS program</li>
                    <li>Direct liaison to participating universities and students in matters related to student recruitment, internships, government employment, and any other program related issues</li>
                    <li>Correspond with agencies on recruitment from the SFS program (answer questions, forward job flyers, create lists of SFS students)</li>
                    <li>Correspond with the general public on what the SFS Program is and  how they can be considered</li>
                    <li>Maintain SFS website (updates, enhancements, OMB clearances, review system security documents)</li>
                    <li>Market the program to increase agency knowledge of the SFS and what it is (presentations, exhibiting at conferences, etc.)</li>
                    <li>Virtual Career Fair planning</li>
                    <li>In-Person Job Fair planning</li>
                    <li>Writing program policy and guidance documents for NSF approval</li>
                    <li>Maintaining/updating the SFS Service Agreement for NSF approval</li>
                    <li>Research new laws affecting Program to determine and make recommendations of changes needed</li>
                    <li>Participate in Interagency Coordinating Committee meetings to discuss program changes, updates, student dispositions, and other program related discussions</li>
                </ul>
                <p>In general, we help bring new cybersecurity professionals into the Federal Government.</p>
                <p><a href="/About/Contact">Contact Us</a></p>

            </div>
        </div>
    </section>

</div>