@page
@model OPM.SFS.Web.Pages.About.ResourcesModel
@{
    ViewData["Title"] = "Resources";
    Layout = "_BasicLayout";
}

<div class="usa-overlay"></div>

<div id="main-content">
    <section class="usa-section participate">
        <div class="usa-grid">
            <div class="usa-width-one-whole">
                <h2 class="usa-serif">Resources</h2>
                <img src="~/img/resources-bill.png" alt="Cybersecurity bill" style="margin: 0 auto; display: block; width: 73%; height: auto;" />
                <p>
                    In December, 2014, the President signed into law the
                    <a href="https://www.congress.gov/bill/113th-congress/senate-bill/1353/text" target="_blank" rel="nofollow">Cybersecurity Enhancement Act of 2014 (Public Law 113-274)</a>.
                    Section 302 addresses SFS specifically.
                </p>
                <p>
                    In December, 2017, the <a href="https://www.congress.gov/bill/115th-congress/house-bill/2810/text" target="_blank" rel="nofollow">National Defense Authorization Act for Fiscal Year 2018</a>
                    was signed into law. Section 1649 a., b., and c. address SFS specifically.
                </p>
                <p>
                    15 U.S. Code section 7442 contains those laws in effect on May 30, 2018 in regards to the SFS Program,
                    <a href="http://uscode.house.gov/view.xhtml?req=(title:15%20section:7442%20edition:prelim)" target="_blank" rel="nofollow">http://uscode.house.gov/view.xhtml?req=(title:15%20section:7442%20edition:prelim)</a>.
                </p>

            </div>
        </div>
    </section>

</div>
