@page
@model OPM.SFS.Web.Pages.Agency.DashboardModel
@{
    Layout = "_SideMenuLayoutAO";
}
 
<h2 align="center">Agency&nbsp;Officials:&nbsp;&nbsp;<i>Main&nbsp;Menu</i></h2>
<h3 align="center">Welcome @User.Identity.Name!</h3>
<p>
</p><center>You have successfully logged into the SFS Agency Officials portal!</center>
<p></p>
