@page
@model OPM.SFS.Web.Pages.Agency.FAQsModel
@{
    Layout = "_SideMenuLayoutAO";
}

<div class="infopage participate">
    <h2><span id="ctl00_PlaceHolderMainContent_Label1">Agency Official: </span> Frequently Asked Questions (FAQs)</h2>
    <div id="ctl00_PlaceHolderMainContent_divErrorMessage" style="text-align: center">No FAQs available at this time.</div>
    <div class="usa-grid">
        <div class="usa-width-one-fourth"></div>
        <div class="usa-width-two-fourths">
            <ul class="usa-accordion-bordered">
            </ul>
        </div>
        <div class="usa-width-one-fourth"></div>
    </div>
</div>
