@page
@model OPM.SFS.Web.Pages.Agency.InformationModel
@{
    Layout = "_SideMenuLayoutAO";
}

<div id="main-content">
    <section class="participate">
        <div class="usa-grid">
            <div class="usa-width-one-whole">
                <h2>Agencies</h2>

                <h3>Overview</h3>
                <p>
                    The SFS program is managed by the National Science Foundation (NSF), in collaboration with the U.S.
                    Office of Personnel Management (OPM), the Department of Homeland Security (DHS) and, in accordance with the Cybersecurity
                    Enhancement Act of 2014 (Public Law No: 113-274). This initiative reflects the critical need for Information Technology (IT)
                    professionals, industrial control system security professionals, and security managers in Federal, State, local and tribal
                    governments. Students identified by their institutions for SFS Scholarships must meet selection criteria based on prior
                    academic performance, likelihood of success in obtaining the degree, and suitability for government employment. Upon
                    graduation, scholarship recipients are required to work a period equal to the length of their scholarship in Federal, State,
                    Local or Tribal Government, an interstate agency, State, Local, or Tribal government-affiliated non-profit that is
                    considered to be critical infrastructure, or in other approved organizations (i.e. FFRDC/UARC) as cybersecurity
                    professionals.
                </p>

                <h3>Recruiting</h3>
                <p>
                    Finding the talent needed to protect information systems can be challenging. The SFS program helps hiring managers by
                    providing scholarships to the finest candidates from institutions with some of the top cybersecurity programs in the
                    country. Many are National Centers of Academic Excellence (CAE) designated institutions and institutions with equivalent
                    designation. Agencies may recruit SFS students for internships during their academic term and permanent placement after
                    graduation.
                </p>
                <p>
                    Hiring Managers and Human Resources Consultants interested in recruiting from the SFS can gain access to this talented IA
                    candidate pool by registering as an <a href="/Agency/Registration">agency official</a> or contacting the program office at
                    <a href="mailto:sfs@opm.gov">sfs@opm.gov</a>. We can distribute job information for you, provide information on students
                    available and their degree information so you can contact them directly, you can work directly with a
                    <a href="/Academia/Institutions">participating institution</a>, or we can work directly with you to determine other methods that
                    may work better for you.
                </p>

                <h3>Recruiting Events</h3>
                <p>
                    Closed hiring events specifically for SFS students are held twice a year. We hold a live job fair (typically located in the
                    DC area and held in January) and a Virtual Career Fair (typically held in October). These events will give your agency an
                    opportunity to interview and even hire SFS students on the spot. Best of all, they are FREE for agencies to participate. If
                    your agency is interested in attending either of these events, register as an agency official with us and you will be added
                    to our contact list, or email us at <a href="mailto:sfs@opm.gov">sfs@opm.gov</a> and request to be added to our contact list
                    to receive additional information.
                </p>

                <hr />
                <p>Still have questions? <a href="/About/Contact">Contact Us</a>.</p>
            </div>
        </div>
    </section>
</div>