@page
@model OPM.SFS.Web.Pages.Agency.RegistrationConfirmModel
@{
	Layout = "_SideMenuLayoutAO";
}
<div class="infopage participate">
	<h2>Agency Officials Registration Confirmation</h2>
	<P>
		Your registration has been successfully transmitted. You should
		receive an email confirmation within two business days. Once you have received
		this confirmation, you will have access to those areas restricted to Agency Officials.
	</P>
	<div style="text-align:center"><a href="/">Return to SFS Home</a></div>
</div>
