@page
@model OPM.SFS.Web.Pages.Agency.ResourcesModel
@{
	Layout = "_SideMenuLayoutAO";
}

<div id="main-content">
	<section class="participate">
		<div class="usa-grid">
			<div class="usa-width-one-whole">
				<h2>Agency Resources</h2>

				<p>
					Recruiting and Hiring Cybersecurity professionals can be challenging. The following is a list of resources our users
					have found useful regarding the hiring of cybersecurity professionals. The U.S. Office of Personnel Management (OPM)
					does not necessarily endorse the views expressed or the facts presented in the resources provided. Further, OPM does
					not endorse any commercial products that may be advertised or available on these sites. Upon selecting any of these
					links/pdf documents, a new window will be opened. To view additional SFS program related resources, please <a href="/About/Resources">click here.</a>
				</p>


				<div style="text-align: left;"><p><a class="sfslinks" href="/docs/GovHireAppointingAuthorityMemo.pdf" target="_blank">Announcing Government-wide Direct Hire Appointing Authorities.</a><br></p><p><a class="sfslinks" href="/docs/GuidanceForCybersecurityPosition.pdf" target="_blank">Issuance of Final Interpretive Guidance for Cybersecurity Positions</a><br>Issuance of Final Interpretive Guidance for Cybersecurity Positions to help agencies hire and retain a highly-skilled cybersecurity workforce. This interpretive guidance addresses position classification, job evaluation, qualifications and assessment for cybersecurity positions.</p><p><a class="sfslinks" href="https://www.nist.gov/itl/applied-cybersecurity/nice/resources/nice-cybersecurity-workforce-framework" target="_blank">NICE Cybersecurity Workforce Framework</a><br>This link directs you to information regarding the NICE Cybersecurity Workforce Framework.</p></div>

				<div style="text-align: left;">
					<p>
						<a class="sfslinks" href="/docs/Cybersecurity Workforce Management Resources.pdf" target="_blank">
							Cybersecurity Workforce Management Resources
						</a>
					<p>This link directs you to information about cybersecurity position-coding, cybersecurity JOA tagging, and a cybersecurity hiring resources hub</p>
				</div>

				<hr>
				<p>If you encounter an error or wish to add a link/document, please email  <a href="mailto:sfs@opm.gov">sfs@opm.gov</a>.</p>
			</div>
		</div>
	</section>
</div>